@import './base.scss';

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.clearfix {
  clear: both;
}

input, textarea {
  outline: none;
}

$viewW: 10rem;

.zmiti-loading {
  background: #8e101c;
  color: #f2eb80;
  z-index: 1100;

  .zmiti-loading-bar {
    width: 7rem;
    @include pos(a);
    top: 48%;
    left: 1.5rem;
    height: 4px;
    @include br(2px);
    border: 1px solid #f2eb80;
    padding: 1px;

    span {
      @include pos(a);
      width: 0;
      height: 4px;
      background: #f2eb80;
      @include br(1px);
    }

    label {
      @include pos(r);
      top: -20px;
      left: 0;

      .dang {
        width: 1rem;
        display: block;
        @include pos(r);
        top: -.4rem;
      }

    }

  }

}

$baseColor: #019cff;

#zmiti-main-ui {
  width: 100%;
  height: 100%;

  header {
    @include pos(a);
    left: 0;
    top: 0;
    width: 10rem;
    height: 64px;
    z-index: 100;
    background: $baseColor;

    h2 {
      height: 20px;
    }

    .zmiti-header-C {
      height: 44px;
      line-height: 44px;
      text-align: center;
      width: 10rem;

      &>div {
        float: left;
      }

      .zmiti-menu-bar, .zmiti-search-btn {
        width: 1.5rem;

        img {
          width: 1rem;
        }

      }

      .zmiti-city {
        width: 7rem;
        color: #fff;
        font-size: .5rem;

        img {
          width: 20px;
        }

      }

    }

  }

  .zmiti-pos, .zmiti-list-btn, .zmiti-policy {
    @include pos(f);
    bottom: 1rem;
    width: 1.3rem;
    z-index: 10;
  }

  .zmiti-pos {
    left: 1rem;
  }

  .zmiti-policy {
    right: 1rem;
  }

  .zmiti-list-btn {
    left: 3.5rem;
    width: 3rem;
  }

  .zmiti-title {
    width: 5.6rem;
    @include pos(a);
    top: 64px;
    left: 2.2rem;
    text-align: center;
    z-index: 10;

    span {
      color: #fff;
      @include pos(a);
      left: 50%;
      @include transform(translate(-50%, 0));
      top: 3px;
      letter-spacing: 2px;
      font-size: .6rem;
    }

  }

}

.zmiti-map-container {
  height: 100%;
  z-index: 11;
  @include transition(.3s);

  &.left {
    z-index: 10;
    @include transition(.4s);
    @include transform(translate(-10rem, 0));
  }

}

.zmiti-list-container {
  height: 100%;
  @include transform(translate(0, 0));
  @include transition(.3s);
  z-index: 11;

  &.right {
    z-index: 10;
    @include transition(.4s);
    @include transform(translate(10rem, 0));

    .zmiti-list-bottom {
      &:before {
        display: none;
      }

    }

  }

  @at-root.zmiti-list-bottom {
    @include transition(.2s);

    &.hide {
      @include transform(translate(0, 99%));
    }

    &.active {
      @include transform(translate(0, 0));
    }

    @include pos(a);
    width: 10rem;
    height: 80px;
    left: 0;
    bottom: 0;
    background: #fff;

    &.needbg {
      &:before {
        content: '';
        @include pos(a);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        box-shadow: 0 0 .2rem rgba(0, 0, 0, .2);
      }

    }

    z-index: 10;
    @include displayBox(horizontal);

    &>div {
      @include pos(r);

      &:nth-of-type(2) {
        width: 4rem;
      }

      &:nth-of-type(3), &:nth-of-type(1) {
        width: 3rem;
        text-align: center;

        img {
          width: 1rem;
        }

      }

    }

  }

  .zmiti-list-scroll-C {
    @include pos(a);
    overflow: hidden;
    top: 64px;
    background: #f5f5f5;

    &>div {
      padding-bottom: .2rem;
    }

    li {
      background: #fff;
      margin: 8px 0;

      &:nth-of-type(1) {
        margin-top: 0;
      }

      h3 {
        margin-top: .5rem;
      }

      @include displayBox(vertical);

      &>div {
        &:nth-of-type(1) {
          @include displayBox(horizontal);
          -webkit-box-align: start;

          .zmiti-xb-logo {
            width: 2rem;
            height: 2rem;
            @include br();
            margin-top: .2rem;
            text-align: right;
            @include pos(r);

            div {
              @include pos(a);
              border: 1px solid #f5f5f5;
              width: 1.4rem;
              height: 1.4rem;
              @include br();
              text-align: center;
              left: .3rem;
            }

            img {
              margin-top: .3rem;
              width: 1.2rem;
            }

          }

          .zmiti-xb-info {
            width: 8rem;

            img {
              width: .5rem;
              margin-right: 10px;
            }

            color: #535353;

            &>div {
              margin: 14px 0;
              @include pos(r);

              div, span {
                @include pos(r);
                top: 0;
                left: 0rem;
                width: 5.6rem;
                display: inline-block;
                vertical-align: middle;
              }

              span {
                vertical-align: top;
              }

              &:nth-of-type(1) {
              }

            }

          }

        }

        &:nth-of-type(2) {
          &.zmiti-xb-active {
            @include displayBox(horizontal);
            height: 1.4rem;
            width: 10rem;
            color: #ff7a4d;
            font-size: .5rem;
            line-height: 1.4rem;

            &>div {
              -webkit-box-flex: 1;
              text-align: center;
              border-top: 1px solid #f5f5f5;

              &:nth-of-type(1) {
                margin-right: 1px solid #f5f5f5;
              }

            }

          }

        }

      }

    }

  }

}

.outLeftInRight-transition, .fadeOutLeft-transition, .fadeInLeft-transition {
  @include transition_transform(.3s ease-in-out);
}

.fadeOutLeft-transition {
  @include transition_transform(.3s ease-in-out);
}

/* 进入时的状态，从右开始 */
.outLeftInRight-enter, .fadeInLeft-enter, .fadeInLeft-leave {
  @include transform(translateX(100%));
}

/* 离开时的状态，向左移动 */
.outLeftInRight-leave, .fadeOutLeft-enter, .fadeOutLeft-leave {
  @include transform(translateX(-100%));
}

#zmiti-map-C {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.zmiti-mask {
  @include pos(a);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  display: none;
  left: 0;
  top: 0;
  z-index: 15800;

  &.tip-bottom {
    img {
      @include pos(a);
      left: 0;
      bottom: 0;
    }

  }

}
